/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #bfd7ea;
}
.banner{
    background-color: #839788;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
h3{
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 1%;
}


main {
    padding: 20px;
}

.article-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.text-content {
    flex: 1;
    margin: 5px;
}

/* Add styling for the image carousel here */
.image-carousel {
    flex: 1;
    width: 100%;
    overflow: hidden; /* Ensure the images are contained within the carousel */
}

.carousel {
    display: block;
    width: 100%;
    overflow: hidden; /* Hide overflow to prevent image spillage */
}

.carousel-cell {
    width: 100%;
    margin-right: 10px;
    display: inline-block; /* Ensure each cell appears next to each other */
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio while covering the entire cell */
}

* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }

#navbar {
    width: 100%;
    padding: 2%;
    height: 5%;
    background-color: #839788;
    z-index: 1000;
    position: absolute;
}

#navbar ul {
    list-style-type: none;
    padding: 0%;
}

#navbar li {
    display: inline;
    margin: 10px;   
    padding: 5px;
}

#navbar a {
    text-decoration: none;
    color: white;
}
#navbar li:hover {
    background-color: #9eaea2; /* Change to the desired color when hovering */
    border-radius: 5px; /* Add rounded corners for a nice effect */
    padding: 5px;
}

#navbar li:hover a {
    color: white; /* Change the text color on hover */
}


/* Initial hidden state 
.article-row {
    opacity: 0;
    transform: translateY(20px); /* Optional: Add a vertical slide-in effect 
    transition: opacity 0.5s ease, transform 0.5s ease;
}
*/
h2 {
    color: #333;
}

.container {
    max-width: 400px;
    margin: 5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.text-content{
    float: center;

}
label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Style for the gallery container */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between images */
    margin-top: 50px;
}

/* Style for each gallery item */
.gallery-item {
    overflow: hidden;
}

/* Style for images within gallery items */
.gallery-item img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease; /* Add a smooth transition effect on hover */
}

/* Hover effect on images */
.gallery-item img:hover {
    transform: scale(1.1); /* Increase the image size on hover */
}
